body {
  font-family: "Open Sans Condensed";
  padding: 20px 60px;
}
a {
  text-decoration: none;
  color: black;
}

/* The element padding margin and border will not affect the element limits or something like that */
* {
  box-sizing: border-box;
}
